
/**
 * @file
 * field_importance.css
 *
 * Contains some administrative CSS to make the
 * field UI a little more friendly.
 */

#fieldset-score,
#edit-field .form-type-textarea {
  float: left;
  width: 48%;
  padding: 15px 20px 15px 0;
  margin: 0;
}
#edit-field .form-type-textarea label {
  background: #d4d4d4;
  padding: 5px;
  margin: 0;
}
